.subtask-skin {
    border: black;
    border-style: solid;
    border-width: medium;
    background-color: #ff5f5c;
    border-radius: 20px;
    width: inherit;
    height: inherit;
    box-sizing: content-box;
}