.subtask-skin {
    border: black;
    border-style: solid;
    border-width: medium;
    background-color: #ff5f5c;
    border-radius: 20px;
    width: inherit;
    height: inherit;
    box-sizing: content-box;
} 

.subtask-top, .subtask-bottom {
   font-size: 9px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.subtask-top {
    border-bottom: solid black 1px;
}

.subtask-bottom {
    border-top: solid black 1px;
}