.WorkspaceList {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidemenu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #b1c3fc;
    box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.2);
}

.sidemenu-item:hover{
    box-shadow:none;
}