.WorkspaceList {
    background-color: green;
    text-align: center;
    height: 100%;
    width: 100%;
    float: left;
    /* position: fixed; */
    /* z-index: 1; */
    /* overflow-x: hidden; */
}