.background-week-calendar{
    height: 100%;
    width: 100%;
    right: 0;
    background-color: darkolivegreen;
    position: absolute;
    z-index: -100;
}

.calendar-divider{
    border-left:1px solid #16222c; 
    border-right:1px solid #16222c; 
    height:100%;
    position:absolute;
}
