.rail-view-panel{
    position: relative;
    width: fit-content;
    height: 100%;
}

.rail-container{
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    position:absolute;
    width: fit-content;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    /* Same as the background calendar date section height*/
    margin-top: 60px;
    padding-top:30px;
}

.rail-divider{
	border-top: 1px dashed #8c8b8b;
}