.add-subtask-btn{
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.plus-icon{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    top: 50%;
}

.add-subtask-btn > .show-on-hover{
    visibility: hidden;
}

.add-subtask-btn:hover > .show-on-hover{
    visibility: visible;
}

.add-subtask-btn:hover{
    display: relative;
    border-style: solid;
    border-color: rgb(109, 176, 120);
    border-radius: 10px;
    border-width: 2px;
    height: 15px;
    color: rgb(109, 176, 120);
}