.task-rail {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 40px;
  padding-right: 30px;
}
.subtask-section {
  display: flex;
  flex-direction: row;
}

.rail-horizontal-line{
  position: absolute;
  width: 100%;
  height: 2px;
  margin: 0px auto;
  display: inline-block;
  vertical-align: middle;
}
