.subtask {
    border-style: solid;
    background-color: #ff5f5c;
    border-radius: 20px;
    position: relative;
    margin-bottom: 2px;
} 

.subtask-top, .subtask-bottom {
   float: right;
   font-size: 12px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   width:80%;
}

.subtask-top {
    border-bottom: solid black 1px;
}

.subtask-bottom {
    border-top: solid black 1px;
    position: relative;
}

div.subtask .checkbox-container {
    position: absolute;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    width: 20%;
}

input[type=checkbox].float-checkbox {
    margin: 0px 0px 0px 0px;
}

.subtask-bottom input[type=date] {
    background-color: transparent;
    /* color:transparent; */
    border: none;
    border-radius: 25px;
    margin-right: 5%;
    /* text-align: center; */
    margin-left: 5%;
    font-size: 85%;
}

.subtask-bottom > ::-webkit-calendar-picker-indicator{
    margin-left: 0px;
}

.subtask-bottom p {
    margin-left: 5%;
}

.subtask.selected{
    box-shadow: 5px 5px 10px;
    transform: scale(1.1);
}

.subtask > a.hide{
    display: none;
}

.subtask > .faded {
    opacity: 0.4;
}

.subtask > a.delete {
    position: absolute;
    top: -25px;
    right: -10px;
}

.subtask-title-editor{
    min-width: 100%;
    padding-left: 7px;
}